@model List<MVCLabb.Models.PictureViewModel>
@{
    ViewBag.Title = "Welcome!";
}

<h1>@ViewBag.Title</h1>

@if (User.IsInRole("Admin"))
{
    <h1>Hey Admin!</h1>
}

<h2>Newest pictures</h2>
<hr />

@foreach (var picture in Model)
{
    @Html.Partial("_GalleryPicture", picture)
}
