
@{
    ViewBag.Title = "Internal Error";
}

<h2>Internal Error</h2>

<h3>
    Sorry! An error occured at the server!
</h3>

<div>
    <a href="" class="backbtn">Return</a>
</div>

@section scripts{
    <script src="~/Scripts/backbutton.js"></script>
}