
@{
    ViewBag.Title = "Not Found";
}

<h2>Not Found</h2>

<h3>
    Sorry! The resource you were looking for couldn't be found. 
</h3>

<div>
    <a href="" class="backbtn">Return</a>
</div>
@section scripts{
    <script src="~/Scripts/backbutton.js"></script>
}